<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controlempleados">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DetalleEmpleadoActivity"
            android:screenOrientation="portrait"
            android:label="@string/info_empleado"></activity>
        <activity
            android:name=".activities.AcercaDeActivity"
            android:screenOrientation="portrait"
            android:label="@string/acerca_de"/>
        <activity
            android:name=".activities.AnhadirEmpleadoActivity"
            android:screenOrientation="portrait"
            android:label="@string/anhadir_empelado"/>
        <activity android:name=".activities.MainActivity"
            android:label="@string/lista_de_empleados"/>
        <activity
            android:name=".activities.RegistrarseActivity"
            android:screenOrientation="portrait"
            android:label="@string/crear_cuenta"/>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>